html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*{
  font-family: system-ui,sans-serif;
}

body{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding-left:70px;
}

.box{
  width: 150px;
  height: 150px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 150px;
  border:solid 3px white;
  margin-left: 18px;
  margin-top: 20px;
  background-color: rgb(255, 182, 251);
  transition: 0.8s;
  cursor: pointer;
}

.win{
  border-radius: 50%;
  background-color: skyblue;
  transform: rotate(360deg);
}

.lose{
  font-size: 20px;
  transform: scale(0.7);
  background-color: black;
  color: white;
}
